{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}
{% block title %}{% endblock %}
{% endblock %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="icon" href="/static/images/tre-logo.ico">
{% block extra_head %}{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
<div class="container">
    <h2><a href="https://ignite.shutterfly.com/groups/test-and-reliability-engineering" target="_blank">
        <img class="logo" src="/static/images/tre-logo.ico">
    </a>
        {% block header %}{% endblock %}
    </h2>

    <nav id="headerNav" class="navbar navbar-default" role="navigation">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block navigation_tab %}{% endblock %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    {% block content %}{% endblock %}
    <!-- Site footer -->
    <div class="bottom">
        <div class="container text_center">
            {% block footer %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}














